@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('personal-data.css');
@import url('list.css');

body {
    background-color: lightpink;
    font-family: 'varela round', sans-serif;
    font-size: 62.5%
}
